# ignore .out
*.out

# ignore auto backup
*~

# ignore test code and data
test.*

# ignore emacs temporary file
\#*#
\#*
*\#*

# ignore emacs helm-gtags databases
GTAGS
GRTAGS
GPATH

# ignore picture data
*.jpg
*.png
*.bmp